:root{
    --aqua: rgb(17, 82, 89);
    --sky: rgb(138, 176, 191);
    --sand: rgb(217, 149, 108);
    --egern: rgb(163, 79, 51);
    --choco: rgb(115, 44, 2);
    --chocosee: rgba(115, 44, 2, .85);
    --james: 'James Hayley';
    --creg: 'Californian Regular';
    --cbold: 'Californian Bold';
    --cital: 'Californian Italic'
}

@font-face{
    font-family: 'James Hayley';
    src: url('fonts/James\ Hayley.ttf') format('truetype');
    font-family: 'Californian Regular';
    src: url('fonts/CALIFR.TTF') format('truetype');
    font-family: 'Californian Bold';
    src: url('fonts/CALIFB.TTF') format('truetype');
    font-family: 'Californian Italic';
    src: url('fonts/CALIFI.TTF') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--sky);
}
a {
    text-decoration: none;
}
/* Navigationsbar */


/* Burgermenu */



/* fra bollywood */
/* Her starter header + burger */
.topnav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--aqua);
    z-index: 1;

}
/* .flexnav{
    display: flex;
    justify-content: space-between;
} */
#myLinks{
    display: none;
    background-color: var(--sky);
    text-decoration: none;
    flex-direction: column;
    font-family:var(--creg);
    font-size: 30px;
    padding-bottom: 3%;
    padding-top: 1%;
}
#myLinks a{
    color: var(--aqua);
    text-align: center;
    padding-top: 2%;
}

.burger{
    margin: 0;
    color: var(--sky);
    font-size: 3rem;
}
#logo{
    margin: 0;
    padding: 0;
    width: 50px;
}
.topnav a{
    /* color: black; */
    padding: 5px 16px;
    text-decoration: none;
    /* font-size: 20px; */
    display: block;
}
.KKlip{
    margin: 0;
    padding-top: 10px;
    text-decoration: none;
    color: var(--sky);
    align-content: center;
    font-family: var(--james);
    font-size: 30px ;
}






.kontakt{
    text-align: center;
    color: var(--aqua);
    padding: 5%;
}

.kontakt h1{
    font-family: var(--cbold);
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.kontakt h2{
    font-family: var(--creg);
    font-size: 20px;
}
.kontakt p{
    font-family: var(--creg);
    /* padding-top: 1.5%; */
}


#drone, #mig{
    width: 45%;
    height: 45%;
    padding-top: 5%;
}
.dronetekst, .hvemerjeg{
    display: flex;
    justify-content: space-between;
}
.left{
    padding-left: 5%;
}
.right{
    padding-right: 5%;
}



.kontaktInfo{
    text-align: center;
    color: var(--aqua);
    padding: 0;
}

.kontaktInfo h1{
    font-family: var(--cbold);
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.kontaktInfo h2{
    font-family: var(--creg);
    font-size: 20px;
}

.label, #navn, #mail, #besked, #send{
    font-family: var(--creg);
}
.label{
    color: var(--aqua);
}
form{
    padding: 5%;
}



/* Om mig */


/* for desktop version */
/* @media screen and (min-width: 992px){

} */