/* fjerner margner på body */
body{
    margin: 0;
    padding: 0;
}
/* placering af billeder så de fylder hele skærmbreden */
#forsidebilleder{
    width: 100%;
}
#secBillede{
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
    display: flex;
}
#onImg{
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 0;
}


/* for desktop version */
/* @media screen and (min-width: 992px){

} */