:root{
    --aqua: rgb(17, 82, 89);
    --sky: rgb(138, 176, 191);
    --sand: rgb(217, 149, 108);
    --egern: rgb(163, 79, 51);
    --choco: rgb(115, 44, 2);
    --chocosee: rgba(115, 44, 2, .85);
    --james: 'James Hayley';
    --creg: 'Californian Regular';
    --cbold: 'Californian Bold';
    --cital: 'Californian Italic'
}

@font-face{
    font-family: 'James Hayley';
    src: url('fonts/James\ Hayley.ttf') format('truetype');
    font-family: 'Californian Regular';
    src: url('fonts/Californian\ FB\ Regular.ttf') format('truetype');
    font-family: 'Californian Bold';
    src: url('fonts/Californian\ FB\ Bold.ttf') format('truetype');
    font-family: 'Californian Italic';
    src: url('fonts/Californian\ FB\ Italic.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--sky);
}
a {
    text-decoration: none;
}
/* Navigationsbar */


/* Burgermenu */



/* fra bollywood */
/* Her starter header + burger */
.topnav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--aqua);
    z-index: 1;

}
/* .flexnav{
    display: flex;
    justify-content: space-between;
} */
#myLinks{
    display: none;
    background-color: var(--sky);
    text-decoration: none;
    flex-direction: column;
    font-family:var(--creg);
    font-size: 30px;
    padding-bottom: 3%;
    padding-top: 1%;
    border-color: var(--aqua);
    border-style: double;
    border-width: 10px;

}
#myLinks a{
    color: var(--aqua);
    text-align: center;
    padding-top: 2%;
}

.burger{
    margin: 0;
    color: var(--sky);
    font-size: 3rem;
}
#logo{
    margin: 0;
    padding: 0;
    width: 50px;
}
.topnav a{
    /* color: black; */
    padding: 5px 16px;
    text-decoration: none;
    /* font-size: 20px; */
    display: block;
}
.KKlip{
    margin: 0;
    padding-top: 10px;
    text-decoration: none;
    color: var(--sky);
    align-content: center;
    font-family: var(--james);
    font-size: 30px ;


}







/* placering af billeder så de fylder hele skærmbreden */
.forsidebilleder{
    width: 100%;
}
/* placering af sectioner med billeder og tekst */
.secBillede{
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--sand);
    display: flex;
}
/* placering af selve teksten på billedene */
.onImg{
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -10%;
    width: 100%;
    height: 16%;
    font-family: var(--creg);
    font-size: 20px;
    background-color: var(--chocosee);
}
.kontakt{
    text-align: center;
    color: var(--aqua);
}

.kontakt h1{
    font-family: var(--cbold);
    font-size: 30px;
}
.kontakt h2{
    font-family: var(--creg);
    font-size: 20px;
}
.kontakt p{
    font-family: var(--creg);
    
}


#mig{
    width: 40%;
}

.label, #navn, #mail, #besked, #send{
    font-family: var(--creg);
}
.label{
    color: var(--aqua);
}

/* for desktop version */
/* @media screen and (min-width: 992px){

} */