:root{
    --aqua: rgb(17, 82, 89);
    --sky: rgb(138, 176, 191);
    --sand: rgb(217, 149, 108);
    --egern: rgb(163, 79, 51);
    --choco: rgb(115, 44, 2);
    --chocosee: rgba(115, 44, 2, .85);
    --james: 'James Hayley';
    --creg: 'Californian Regular';
    --cbold: 'Californian Bold';
    --cital: 'Californian Italic'
}

@font-face{
    font-family: 'James Hayley';
    src: url('../fonts/James\ Hayley.ttf') format('truetype');
    font-family: 'Californian Regular';
    src: url('../fonts/Californian\ FB\ Regular.ttf') format('truetype');
    font-family: 'Californian Bold';
    src: url('../fonts/Californian\ FB\ Bold.ttf') format('truetype');
    font-family: 'Californian Italic';
    src: url('../fonts/Californian\ FB\ Italic.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--sky);
}
a {
    text-decoration: none;
}
/* Navigationsbar */


/* Burgermenu */



/* fra bollywood */
/* Her starter header + burger */
.topnav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--aqua);
    z-index: 1;

}
/* .flexnav{
    display: flex;
    justify-content: space-between;
} */
#myLinks{
    display: none;
    background-color: var(--sky);
    text-decoration: none;
    flex-direction: column;
    font-family:var(--creg);
    font-size: 30px;
    padding-bottom: 3%;
    padding-top: 1%;
    border-color: var(--aqua);
    border-style: double;
    border-width: 10px;
}
#myLinks a{
    color: var(--aqua);
    text-align: center;
    padding-top: 2%;
}

.burger{
    margin: 0;
    color: var(--sky);
    font-size: 3rem;
}
#logo{
    margin: 0;
    padding: 0;
    width: 50px;
}
.topnav a{
    /* color: black; */
    padding: 5px 16px;
    text-decoration: none;
    /* font-size: 20px; */
    display: block;
}
#myDesk{
    display: none;
}
.side{
    margin: 0;
    padding-top: 3%;
    text-decoration: none;
    color: var(--sky);
    align-content: center;
    font-family: var(--james);
    font-size: 40px;
}

.topnav a.KKlip{
    display: none;
}

/* Denne section er footeren */
/* Overordnet styling på footeren */
#footer{
    background-color: var(--aqua);
    color: var(--sky);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--cital);
    font-size: 14px;
    height: 60px;}
/* Styling på linkedIn logo i footeren */
#linkedInfoot{
    width: 45px;
    margin: 20%;}
/* Styling på teksten i footeren, bruges til at give 
tekstfelterne mere plads, da noget tekst eller flyttes på ny linje */
#infofoot{
    margin: 3%;
    width: 70%;}
/* Sørger for at kontakt infoen står på samme linje */
#tekstfoot{
    display: flex;}
/* Giver plads mellem kontakt info tekst*/
.pfoot{
    margin:2%;
}
/* Den lange sætning har brug for lidt ekstra plads */
#kontaktk{
    width: 40%;
}
/* pladsering af copyright icon & tekst */
#copyDiv{
    display: flex;
    justify-content: center;}
/* størrelse på copyright icon */
.copyikon{
    width: 1rem;
    height: 1rem;}
/* Giver plads mellem icon og tekst og fjerner plads mellem tekst og kontakt info tekst */
#copytext{
    margin: 0%;
    padding-left: 2%;}
/* Her slutter footeren */



/* Tekst, som linker til andre sider */
.insidetekst{
    font-family: var(--cital);
    color: var(--choco);
}



/* andre videoer */
.sec h1{
    color: var(--aqua);
    font-family: var(--cbold);
    font-size: 30px;
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    /* padding-right: 5%;
    padding-left: 5%; */
}
.sec p{
    color: var(--aqua);
    font-family: var(--creg);
    padding-right: 5%;
    padding-left: 5%;
    margin: 0;
    margin-block-end: 0.7rem;
    text-align: justify;
}

.video{
    width: 100%;
    height: 234px;
}



/* for desktop version */
@media screen and (min-width: 992px){
    /* Header start */
    /* fjerner burger*/
    .topnav a.icon{
        display: none;}
    #myLinks{
        display: none;}

    /* Sætter Desktop nav bar i steder gor */
    #myDesk{
        display: flex;
        background-color: var(--aqua);
        position: sticky;
        float: right;
        padding-top: 2%;
    }
    #myDesk a{
        color: var(--sky);
        font-family: var(--cbold);
        font-size: 20px;
        }
    .topnav a.KKlip{
        display: flex;
        margin: 0;
        padding-top: 0;
        text-decoration: none;
        color: var(--sky);
        align-content: center;
        font-family: var(--james);
        font-size: 36px;
        }
    .topnav a.KKlip h1{
        margin: 0;
        padding: 0;
    }
    .side{
        display: none;
    }

    /* Header slut */

    /* Footer start */
#linkedInfoot{
    margin: 0%;}
#infofoot{
    display: flex;
    margin: 0%;}
#tekstfoot{
    width: 70%;
    align-items: center;
    justify-content: center;
}
.pfoot{
    margin:4%;
    font-size: 18px;
}
/* Den lange sætning har brug for lidt ekstra plads */
#kontaktk{
    width: 28%;
}
/* pladsering af copyright icon & tekst */
#copyDiv{
    width: 30%;
    align-items: center;
    justify-content: right;
}
/* størrelse på copyright icon */
.copyikon{
    width: 1.2rem;
    height: 1.2rem;}
#copytext{
    font-size: 16;
}
/* Her slutter footeren */

}
